* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: black;
}

.mainWrapper {
    width: 50%;
    height: 1400px;

    margin: auto;
    border-radius: 5px;
    /* background-color: rgb(10, 90, 90); */

}

.mainWrapper .wrapper {
    width: 100%;
    margin: auto;
    /* padding-top: 40px; */
    /* background-color: aqua; */
    display: flex;

}

.headingText h3 {
    width: 50%;
    height: 40px;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    color: white;
    margin: auto;


}

.mainWrapper .wrapper .formDiv {
    width: 100%;
    margin: auto;
    /* background-color: blueviolet; */
    /* text-align: left; */
    /* margin-left: 100px; */

}

.mainWrapper .wrapper .formDiv h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;

}

.mainWrapper .wrapper .formDiv .country {
    display: none;
}

.mainWrapper .wrapper .formDiv input {

    width: 75%;
    height: 30px;
    padding: 10px;
    background-color: rgb(23, 21, 21);
    margin: auto;
    border-radius: 5px;
    border: 1px solid #f7f7f7;
    color: white;
    font-size: 14;

}



.mainWrapper .wrapper .formDiv select {
    width: 79%;
    height: 50px;
    padding: 10px;
    background-color: rgb(23, 21, 21);
    margin: auto;
    border-radius: 5px;
    border: 1px solid #f7f7f7;
    color: white;
    font-size: 14;
    ;
    /* margin-bottom: 40px; */

}

.mainWrapper .wrapper .formDiv .ageDisp {
    color: white;
    font-size: 14;

}

.mainWrapper .wrapper .formDiv .dipAgePoint {
    color: white;
    font-size: 14px;
    margin-top: 10px;

}

.mainWrapper .wrapper .formDiv .dispOverallPoint {
    color: white;
    font-size: 14px;
    margin-top: 10px;

}

.mainWrapper .wrapper .middleCol {
    width: 100%;
    margin: auto;
    display: flex;
    /* background-color: blue; */

}

.mainWrapper .wrapper .middleCol .formDiv2 select {

    width: 200px;
    height: 50px;
    padding: 10px;
    background-color: rgb(23, 21, 21);
    margin: auto;
    border-radius: 5px;
    border: 1px solid #f7f7f7;
    color: white;
    font-size: 14;



}

.mainWrapper .wrapper .middleCol .formDiv2 h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    padding-top: 50px;

}

.mainWrapper .wrapper .middleCol .rightCol .formDiv3 input {
    width: 100px;
    height: 28px;
    padding: 10px;
    background-color: rgb(23, 21, 21);
    margin: auto;
    border-radius: 5px;
    border: 1px solid #f7f7f7;
    color: white;
    font-size: 14;
    padding-left: 40px;
    margin-left: 10px;

}

.mainWrapper .wrapper .middleCol .rightCol .formDiv3 h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 50px;

}

.mainWrapper .wrapper .middleCol .rightCol .formDiv3 .totalSubScr {
    color: white;
    margin-left: 20px;
}

.mainWrapper .wrapper .middleCol .rightCol .formDiv3 .totSubAvg,
.subPoint {
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}



button {

    width: 205px;
    height: 50px;
    background-color: rgb(106, 2, 32);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    align-items: left;
    justify-content: center;
    border: 1px solid #f7f7f7;
    /* margin-left: 250px; */
    margin-top: 20px;


}

.mainWrapper .wrapper .middleCol .rightCol .formDiv3 label {
    margin-left: 60px;
}

label {
    color: white;
    margin-left: 130px;
    margin: auto;
}

input:hover {
    background-color: rgb(39, 1, 1);
}

.myChartCont {
    display: block;
}


















@media (max-width: 1155px) {
    .mainWrapper .wrapper .middleCol .rightCol .formDiv3 input {
        width: 100px;
    }

    .mainWrapper .wrapper .middleCol .formDiv2 select {
        width: 150px;
    }
}

@media (max-width: 1080px) {
    .mainWrapper .wrapper {
        /* background-color: aqua; */
        display: block;
        margin: auto;
    }

    .mainWrapper .wrapper .middleCol .formDiv2 select {
        width: 200px;
    }

    .mainWrapper .wrapper .middleCol .rightCol .formDiv3 input {
        width: 125px;
    }

    .mainWrapper .wrapper .formDiv select {
        width: 100%;
    }

    .mainWrapper .wrapper .formDiv input {
        width: 95.7%;
    }
}


@media (max-width: 950px) {
    .mainWrapper .wrapper .formDiv input {
        width: 93%;

    }

    .headingText h3 {
        font-size: 40px;
    }

    .mainWrapper .wrapper .middleCol .rightCol .formDiv3 input {
        width: 100px;
    }

    .mainWrapper .wrapper .middleCol .formDiv2 select {
        width: 170px;
    }
}

@media (max-width:665px) {
    .headingText h3 {
        font-size: 30px;
    }

    .mainWrapper .wrapper .middleCol .rightCol .formDiv3 input {
        width: 80px;
    }

    .mainWrapper .wrapper .middleCol .formDiv2 select {
        width: 130px;
    }
}

@media (max-width:581px) {
    .mainWrapper .wrapper .formDiv input {
        width: 92%;
    }

    .mainWrapper .wrapper .middleCol .rightCol .formDiv3 label {
        margin-left: 40px;
    }
}

@media (max-width:546px) {
    .mainWrapper .wrapper .middleCol .rightCol .formDiv3 input {
        width: 80px;
        padding-left: 10px;
    }

    .mainWrapper .wrapper .middleCol .formDiv2 select {
        width: 130px;
    }
}

@media (max-width:414px) {
    .mainWrapper .wrapper .middleCol .rightCol .formDiv3 input {
        width: 60px;
        padding-left: 10px;
        font-size: 10px;

    }

    .mainWrapper .wrapper .middleCol .formDiv2 select {
        width: 110px;
        font-size: 10px;
    }

    .mainWrapper .wrapper .formDiv input {
        width: 89.7%;

    }

    .mainWrapper .wrapper .middleCol .rightCol .formDiv3 .totalSubScr {
        color: white;
        font-size: 10px;
    }

    .mainWrapper .wrapper .middleCol .rightCol .formDiv3 .totSubAvg,
    .subPoint {
        color: white;
        margin-left: 20px;
        font-size: 13px;
    }

    button {
        width: 130px;
    }

    .mainWrapper .wrapper .middleCol .rightCol .formDiv3 label {
        margin-left: 0px;
        font-size: 15px;
    }
}